
html {
    min-height: 100%;
}

Body {
    background: linear-gradient(#7c3e3e, #4B0082) no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    color: black;
    text-decoration: underline;
    width: fit-content;
    padding: 15px;
    margin: auto;

}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 400px;
    height: 100%;
    border: solid 8px wheat;
    border-radius: 45px;
    padding: 25px 0 25px 0;
    margin: 150px auto 150px auto;
    background: linear-gradient(#e68465, #9168e5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 55%;
    height: 100%;
    border: solid 4px wheat;
    border-radius: 45px;
    padding: 25px 0 25px 0;
    margin: 45px auto;
    background: linear-gradient(#e68465, #9168e5);
    box-shadow: 0 0 2px 2px wheat;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 250px 25px 250px;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: solid 2px wheat;
    border-radius: 15px;
    box-shadow: 0 8px 8px -4px black;
}

#homepagegif {
   height: auto;
   border: solid 2px wheat;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px wheat;
    border-radius: 25px;
    height: auto;
    width: 270px;
    box-shadow: 0 8px 8px -4px black;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

.menu-list {
    list-style-type: "\1F372";
    font-size: large;
    color: rgb(0, 0, 0);
}

.description {
    text-align: center;
    border: double 4px wheat;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 4px -2px black;
}

.container-description {
    display: flex;
    justify-content: center;
    align-items: center;
}


.ingredients {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: solid 2px wheat;
   border-radius: 10px;
   margin: 15px;
   margin-bottom: 25px;
   box-shadow: 0 4px 4px -2px black;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: auto;
}

li {
    margin: 15px 0;
}

