Body {
    background-color: #DEB887;
    margin: 0;
}

h1 {
    text-align: center;
    color: rgb(13, 65, 3);
    border: solid 4px white;
    width: fit-content;
    padding: 15px;
    margin: auto;

}

h2 {
    border: solid 2px rgb(13, 65, 3);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: auto;
    height: 100%;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

img {
    width: 25%;
    height: auto;
    border: solid 5px white;
}


.list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    border-radius: 10px;
    height: auto;
    width: 270px;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

.menu-list {
    list-style-type: "\1F372";
    font-size: large;
    color: rgb(13, 65, 3);
}

.description {
    text-align: center;
    border: double 4px white;
    border-radius: 10px;
    padding: 20px;
    width: 25%;
}

.container-description {
    display: flex;
    justify-content: center;
    align-items: center;
}


.ingredients {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: double 4px white;
   border-radius: 10px;
   width: 420px;
   margin: auto;
   margin-bottom: 25px;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    margin: auto;
    border: double 4px white;
    border-radius: 10px;
}

li {
    margin: 10px 0;
}